#loginForm {
    width: 60%;
    padding: 2.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 5px;
}

.loginPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width:85%;
}

.loginInput, .loginButton {
    width: 100%;
}
